/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './fonts.scss';
@use './colors.scss';

body {
  margin: 0;
  height: 100vh;
}

.calc {
  border-collapse: collapse;
  width: 45%;
  height: 100%;
  font-family: fonts.$primary-ff;
  font-weight: bold;
  margin-left: 20px;
}

.firstRow > td {
  text-align: end;
  padding-right: 20px;
  color: #fff;
  background-color: colors.$inputCalc;
}

.buttons {
  border: 1px solid #000;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: colors.$primaryCalc;
}

.firstRow {
  background-color: colors.$inputCalc;
}

.otherRow > td:last-child {
  background-color: colors.$orange;
}

.output {
  height: 20px;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: fonts.$primary-ff;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.calc-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  margin: 20px 20px 0;
  justify-content: space-around;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
